.contenedor{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: 0 auto;
    height: 120%;
    font-family: sans-serif;
}

header h1{
    text-align: center;
    background-color: rgb(202, 12, 12);
    border-radius: .3rem;
    max-width: fit-content;
    
}

.menu{
    display: flex;
    flex-direction: column;
    line-height: 1.5rem;
    font-weight: 600;
    font-size: 1.4rem;
    background-color: black;
    width: 20%;
    height: 59rem;
    font-family: sans-serif
}

.menu ul {
    list-style: none;
}

.menu ul li {
    color: white;
}

.menu ul li:hover{
     cursor: pointer;
     color: rgb(81, 78, 78);
     transition: c;
}


.text-center{
    text-align: center;
 }

 
.texto-derecho{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    font-family: sans-serif
    
}

.celeste{
    background-color: rgba(5, 235, 235, 0.829);
    height: 15rem;
    font-family: sans-serif
}

.amarillo{
    background-color: rgb(231, 231, 5);
    height: 15rem;
    font-family: sans-serif
}

.naranjo{
    background-color: rgb(255, 128, 0);
    height: 15rem;
    font-family: sans-serif
}

.rojo{
    background-color: rgb(255, 0, 0);
    height: 14rem;
    font-family: sans-serif
}



.texto-blanco{
    color: white;
}

